/* Variables */

$bg-base: #d2d2d2;
$text-color: #000000;

$images-path: '../images';
$fonts-path: '../fonts';

$brand-1: #000000;
$brand-2: #ffffff;
$brand-3: #5eafde;

$link-color: $brand-1;
$error-color: red;

$font-family-base: 'oswaldbook', sans-serif;
$font-family-light: 'oswaldbook', sans-serif;
$font-family-italic: 'oswaldbook', sans-serif;
$font-family-bold: 'oswaldbook', sans-serif;

$font-size-base: 18px;
$font-size-small: 14px;
$font-size-large: 26px;

$line-height-base:        1.25; 
$line-height-computed:    floor($font-size-base * $line-height-base);

$font-size-h1:            40px;
$font-size-h2:            24px; 
$font-size-h3:            20px; 
$font-size-h4:            18px;
$font-size-h5:            16px;
$font-size-h6:            $font-size-large; 

$width:     1024px;
$width-m:   768px;
$width-s:   568px; 

$padding-xxl: 20px; 
$padding-xl:  16px; 
$padding-l:   12px; 
$padding-ml:  10px;
$padding-m:   8px; 
$padding-sm:  6px; 
$padding-s:   4px; 
$padding-xs:  2px; 
$padding-xxs: 1px; 


$input-bg: #fff;
$input-border: $bg-base;
$input-color: $text-color;
$input-color-placeholder: $brand-1;
$input-border-focus:  darken($bg-base, 10%);

